h1{
    text-align: center;
}
form{
    text-align: center;
}
.main{
    width: 500px;
    height: 500px;
    text-align: center;
    margin: auto;
    background-color: aquamarine;
}
.inputbox{
    padding: 10px;
    font-size: 30px;
}
.btn{
    padding: 10px;
    font-size: 25px;
    margin-top: 20px;
}
.result{
    color: red;
    font-size: 24px;
    font-weight: 800;
    font-family: serif;
}